
#inc{
		width: 395px;
		height: 70px;
		
		position: absolute;
		left: 480px;
		margin-top: -37px;
		
	}
	#butunu{
	position: absolute;
	top:9px;
	left:15px;}

	 #circle {
    width: 75px;
    height: 75px;
 	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
    background-color: #000000;
    opacity: 0.2;
	position:absolute;
	
}
	.cerc {
	cursor: pointer;
	width: 75px;
    height: 75px;
 	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
    background-color: #000000;
    opacity: 0.2;
	position:absolute;
	
	}
	
	 #circle:hover {
    width: 75px;
    height: 75px;
 	-moz-border-radius: 75px;
	-webkit-border-radius: 50px;
	border-radius: 75px;
    background-color: back;
    opacity: 0.6;
    color: #ffffff;
	}
	
    #butdoi{
	position: absolute;
	top:9px;
	left:2px;}
	
	 #circle1 {
    width: 75px;
    height: 75px;
 	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
    background-color: #000000;
    opacity: 0.2;
    margin-left: 80px;
	position:absolute;
	}
	
	 #circle1:hover {
    width: 75px;
    height: 75px;
 	-moz-border-radius: 75px;
	-webkit-border-radius: 50px;
	border-radius: 75px;
    background-color: back;
    opacity: 0.6;
    color: #ffffff;
	margin-left: 80px;
	position:absolute;
	}
	
	#buttrei{
	position: absolute;
	top:9px;
	left:12px;}
	
	 #circle2 {
    width: 75px;
    height: 75px;
 	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
    background-color: #000000;
    opacity: 0.2;
	margin-left: 160px;
	position:absolute;
	
	
	}
	
	 #circle2:hover {
    width: 75px;
    height: 75px;
 	-moz-border-radius: 75px;
	-webkit-border-radius: 50px;
	border-radius: 75px;
    background-color: back;
    opacity: 0.6;
    color: #ffffff;
	margin-left: 160px;
	position:absolute;
	}	
	 #titlu{
		 position:absolute;
		 margin:0px auto;
		 }
		 
		 
	 #circle3 {
    width: 75px;
    height: 75px;
 	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
    background-color: #000000;
    opacity: 0.2;
	margin-left: 240px;
	position:absolute;

	
	}
	
	 #circle3:hover {
    width: 75px;
    height: 75px;
 	-moz-border-radius: 75px;
	-webkit-border-radius: 50px;
	border-radius: 75px;
    background-color: back;
    opacity: 0.6;
    color: #ffffff;
	margin-left: 240px;
	position:absolute;
	}
	
	 #circle4 {
    width: 75px;
    height: 75px;
 	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
    background-color: #000000;
    opacity: 0.2;
	margin-left: 320px;
	position:absolute;
	
	}

	 #circle4:hover {
    width: 75px;
    height: 75px;
 	-moz-border-radius: 75px;
	-webkit-border-radius: 50px;
	border-radius: 75px;
    background-color: back;
    opacity: 0.6;
    color: #ffffff;
	margin-left: 320px;
	position:absolute;
	}
	
	 #text1 {
    width: 370px;
    max-height: 525px;
 	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
    background-color: #000000;
    opacity: 0.2;
	margin-left:0px;
	position:absolute;
	margin-top: -220px;
	z-index: 2;
	
	
	}
	
	
	 #text1:hover {
    width: 370px;
    height: 650px;
 	-moz-border-radius: 75px;
	-webkit-border-radius: 50px;
	border-radius: 75px;
    opacity: 0.6;
    color: #ffffff;
	margin-left:0px;
	position:absolute;
		margin-top: -220px;
		
	}
	
	#text1:hover #unu {
		display: block;
	}
	

	
	#titles{
		background-color: red;
	}

a:visited
{
    text-decoration: none; 
    decoration: none; 
    
}
	

	#unu {
		display: none;
		cursor: pointer;
	}
	img:hover {
filter: grayscale(100%);
filter: gray;
-webkit-filter: grayscale(1);}

#poze1{
	 transform: rotate(5deg);	
	 position: absolute; 
	 margin-top: -200px;
	 margin-left: -65px;}

#poze2{
	 transform: rotate(5deg);	
	 position: absolute; 
	 margin-top: -50px;
	 margin-left: 175px;
}


#poze3{
	 transform: rotate(5deg);	
	 position: absolute; 
	 margin-top: 100px;
	 margin-left: -65px;
}

.poze:hover{
	 transform: rotate(5deg);	
	   filter: grayscale(100%);
      -webkit-filter: grayscale(1);}
   
 pre{font-family: "Century Gothic";}
 p{font-family:"Century Gothic"; }
